.{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(45, 252, 90);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: rgb(18, 134, 18);
}
h2{
    color:rgb(18, 134, 18)
}
p{
    color: rgb(25, 143, 25);
}
nav{
background-color: rgb(18, 134, 18);
padding: 10px;
text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
nav a:hover{
    color: yellow;
    text-decoration: underline;
}