*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form h1{
    text-align: center;
    margin: 20px;
    padding: 12px 24px;
}
.form{
    border: 1px solid white;
    margin:20px;
    padding: 12px 24px;
}
.form input{
    width: 100;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    background: white;
}
#submit-button{
    text-decoration: none;
    color: white;
    border: 1px solid darkgreen;
    padding: 15px 40px;
    font-size: 15px;
    background: transparent;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    background-color: green;
    width: 100%;
}