/*Reset default styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    padding: 15px 30px;
    color: darkgrey;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}